/* font-face */
@font-face {
	font-family: "Anonymous Pro";
	src: url(fonts/AnonymousPro-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Anonymous Pro";
	src: url(fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	display: swap;
}

* {
	box-sizing: border-box;
}

/* css reset */
body,
h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}

/* fonts */
body {
	font-family: "Anonymous Pro", sans-serif;
}

/* main container */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f1f1f1;
}

/* header */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #a1a6b4;
	background: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 24px 0 24px;
}

.logo-link {
	max-width: 215px;
}

/* header and footer links */
nav {
	display: flex;
}

.nav-list {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 24px;
}

.nav-item {
	display: inline;
}

.nav-link {
	color: #121723;
	font-size: 20px;
	font-weight: 700;
}

/* стили для  */
.content {
	margin: 32px 0;
	max-width: 1140px;
}

h1 {
	font-size: 48px;
}

/* sneakers container */
.sneakers {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin: 32px 0 0;
}

/* sneakers cards */
.sneaker {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 364px;
	height: 100%;
	border-radius: 12px;
	background: white;
}

.sneaker-image {
	width: 100%;
}

.sneaker-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
	padding: 32px 24px;
}

.sneaker-link {
	color: #000;
	transition: all 0.5s linear;
}

.sneaker-link:hover {
	transform: translateY(-10px);
	box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

h3 {
	font-size: 26px;
}

p {
	font-size: 20px;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #121723;
}

/* footer */
.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 32px 0;
}

.footer__logo-link {
	max-width: 300px;
	width: 100%;
}

footer .nav-link {
	color: white;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1140px;
	border-top: 1px solid #a1a6b4;
}

.copyright-text {
	color: #a1a6b4;
	font-size: 16px;
	font-weight: 700;
	margin: 24px 0;
}

.page-body {
	padding: 48px;
	background: #fff;
	border-radius: 50px;
}

.page-body__image img {
	width: 1044px;
	height: 600px;
}

.page-title {
	margin-bottom: 24px;
	font-weight: 400;
}

.page-body__info__sub-title {
	font-size: 36px;
}

.page-body__info__body__text {
	line-height: 28px;
	font-size: 20px;
	flex: 0 1 50%;
}

.page-body__info__body__specifications {
	flex: 0 1 50%;
}

.page-body__info__body__specifications li {
	position: relative;
	padding: 21px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.page-body__info__body__specifications li:first-child{
	padding-top: 0;
}

.page-body__info__body__specifications li h4 {
	margin: 0;
}

.page-body__info__body__specifications li h5 {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}

.page-body__info__body__specifications__item__title {
	font-size: 30px;
	font-weight: 400;
	font-size: 30px;
}

.page-body__info__body__specifications li:after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background: #000;
}

.page-body__info__body__text p {
	margin-bottom: 43px;
}

.page-body__info__body__text p:last-child {
	margin-bottom: 0;
}

.page-body__info__body {
	display: flex;
	column-gap: 32px;
}

@keyframes sneaker-up {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(200px);
	}
}

@media (max-width: 375px) {
	.page-body {
		border-radius: 12px;
		padding: 16px 32px;
	}
	.page-body__image img {
		max-width: 100%;
		height: 188px;
		margin-bottom: 32px;
	}
	.page-body__info__title {
		font-size: 32px;
	}
	.page-body__info__sub-title {
		font-size: 20px;
	}
	.page-body__info__body {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}
	.page-body__info__body__text p {
		margin-bottom: 37px;
	}
	.page-body__info__body__specifications {
		padding-bottom: 14px;
	}
	.page-body__info__body__specifications li {
		font-size: 16px;
		padding: 24px 0;
	}
	.header-container,
	.footer-content {
		flex-direction: column;
		align-items: center;
	}
	.logo-link {
		margin-bottom: 24px;
	}
	.content {
		padding: 0 16px;
	}
	.content h1 {
		font-size: 32px;
	}
	.sneaker-image {
		width: 343px;
		height: 254px;
	}
	.sneakers {
		justify-content: center;
	}

	.footer__logo-link {
		margin-bottom: 32px;
	}
	/**/
	.page-body__info__body__specifications__item p{
		font-size: 16px;
	}
	.page-body__info__body__specifications li h5 {
		font-size: 16px;
	}
	.page-body__info__body__text p {
		font-size: 16px;
	}
	.page-body__info__body__specifications {
		display: flex;
    	flex-direction: column;
		gap: 24px;
	}
}
